* {
  margin: 0px;
  padding: 0px;
}
.myhead {
  background-color: #090832;
}
.logo {
  height: 110px;
  width: 90px;
}
.head {
  margin: 20px;
  padding-left: 20px;
}
.head-text {
  padding-left: 50px;
}
.img-size {
  height: 550px;
}
.slide-image {
  margin-top: -20px;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.affix + .container-fluid {
  padding-top: 50px;
}

button {
  cursor: pointer;
}
@keyframes slider {
  0% {
    left: 0;
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    left: -768px;
    opacity: 1;
  }
  45% {
    left: -768px;
    opacity: 1;
  }
  46% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  50% {
    left: -1536px;
    opacity: 1;
  }
  70% {
    left: -1536px;
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    left: -2304px;
    opacity: 1;
  }
  95% {
    left: -2304px;
    opacity: 1;
  }
  97% {
    left: -2304px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

#portfolio {
  width: 100%;
  min-height: 30vh;
  background: white;
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  #portfolio {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
.project {
  height: 200px;
  width: 300px;
  background: white;
  overflow: hidden;
  margin-left: 25px;
  /* border: #090832 2px solid; */
  box-shadow: 4px 4px 20px #0d0d0e;
}
.project img {
  position: absolute;
  opacity: 0.9;
}
.project:hover .grid-overlay {
  transform: translateY(0%);
  opacity: 0.9;
}

.project-image {
  width: 300px;
  height: 200px;
}
.grid-overlay {
  background: whitesmoke;
  height: 100%;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
}
.grid-overlay button {
  background: #12115f;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}
.grid-overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: rgb(68, 65, 65);
  color: #d1a39e;
  /* transform: scale(1.05s); */
}

/*DESCRIPTION PART*/
.desc {
  background-color: whitesmoke;
  margin: 20px;
}
.queck-link {
  background: #f5f5f5;
  height: 374px;
  padding: 15px;
  /* border: 2px, solid, #090832; */
  border-radius: 2px;
}
.queck-link_cap {
  border-bottom: 1px solid #ddd;
  padding: 5px 0px 5px 0px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.queck-link ul {
  padding: 0px 0px 0px 30px;
  font-size: 1.3em;
  list-style: url('../image/arrow.gif');
}
.queck-link li {
  padding: 1px;
  text-decoration: none;
}

.notification {
  background: #f5f5f5;
  height: 374px;
  padding: 15px;
  border-radius: 2px;
}
.notification_cap {
  border-bottom: 1px solid #ddd;
  padding: 5px 0px 5px 0px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.notification ul {
  padding: 0px 0px 0px 30px;
  font-size: 1.3em;
  list-style: url('../image/arrow.gif');
}
.notification li {
  padding: 5px;
}
/*********************************/

* {
  box-sizing: border-box;
}

/*--------------- Footer ------------------ */
.footer {
  /*background: #681424; */

  background-size: 200% 100%;
  color: #525252;
  padding: 50px 0px 50px 0px;
  font-size: 1.2em;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.footname {
  font-size: 1.5em;
  color: #5d5d5d;
  padding: 10px 0px 3px 0px;
  font-weight: bold;
  width: 80%;
  border-bottom: 1px solid #30363d;
  margin-bottom: 15px;
}
.footer a {
  color: #525252;
}
.footer a:hover {
  color: #666666;
  margin-left: 5px;
  -webkit-transition: margin 500ms linear;
}
.ftimage {
  margin: auto;
}

/*------counter code-------*/
.counter-section {
  margin: 3% auto;
  color: #fff;
  background-image: rgba(26, 26, 26, 0.98);
}
.icon-box {
  border: 1px solid #fff;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  transform: rotate(45deg);
}
.icon-box .fa {
  font-size: 45px;
  margin: 25px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}
.icon-box .far {
  font-size: 45px;
  margin: 25px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}
.counter-box p {
  font-size: 20px;
}
.counter-box .counter {
  font-size: 40px;
}
.counter-bg {
  /* background: url('../image/ftback.jpg') no-repeat; */
  width: 100%;
  height: 300px;
}
.colorFooter {
  background: url('../image/ftback.jpg') no-repeat;
  width: 100%;
  height: 100%;
}

/* Card */
.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 50px); /* 1/3 minus the margins (20+20)*/
  /* padding: 5px; */
  padding-top: 20px;
  text-align: center;
  color: white;
  float: left;
  @media (max-width: 768px) {
    margin: 10px 20px;
    width: calc(100% - 40px);
    &:first-child {
      margin-top: 20px;
    }
  }
}
.card-parent {
  margin-bottom: 30%;
}
.card-parent :hover {
  transform: scale(1.1);
}
.card :hover {
  transform: scale(1);
}
/* &:nth-child(2) {
    margin: 20px 0px;
    width: 33.3333%;
    padding: 50px 20px;
    @media (max-width: 768px) {
      margin: 10px 20px;
      width: calc(100% - 40px);
    } */
.title {
  font-size: 25px;
}
/* .icon {
  margin: 50px 0;
  /* svg {
      width: 100px;
      height: 100px;
      path {
        fill: #F6B352;
      }
    } 
} */
.features > p {
  color: #090832;
  margin-top: 10px;
}
/* .features > ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}
.features > li {
  margin: 10px 0;
  font-size: 14px;
}

.features > li > span {
  border-bottom: 2px dotted #f6b352;
} */
.btn {
  display: block;
  background: #f6b352;
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
btn :hover {
  background: #f68657;
}

/* Font family */

@font-face {
  font-family: myFont;
  src: url('𝐜𝐨𝐨𝐥𝐟𝐨𝐧𝐭.𝐨𝐫𝐠');
}
.borderInner {
  border-bottom: rgb(216, 214, 214) 1px solid;
}
=======
* {
  margin: 0px;
  padding: 0px;
}
.myhead {
  background-color: #090832;
}
.logo {
  height: 110px;
  width: 90px;
}
.head {
  margin: 20px;
  padding-left: 20px;
}
.head-text {
  padding-left: 50px;
}
.img-size {
  height: 550px;
}
.slide-image {
  margin-top: -20px;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.affix + .container-fluid {
  padding-top: 50px;
}

button {
  cursor: pointer;
}
@keyframes slider {
  0% {
    left: 0;
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    left: -768px;
    opacity: 1;
  }
  45% {
    left: -768px;
    opacity: 1;
  }
  46% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  50% {
    left: -1536px;
    opacity: 1;
  }
  70% {
    left: -1536px;
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    left: -2304px;
    opacity: 1;
  }
  95% {
    left: -2304px;
    opacity: 1;
  }
  97% {
    left: -2304px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

#portfolio {
  width: 100%;
  min-height: 30vh;
  background: white;
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  #portfolio {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
.project {
  height: 200px;
  width: 300px;
  background: white;
  overflow: hidden;
  margin-left: 25px;
  /* border: #090832 2px solid; */
  box-shadow: 4px 4px 20px #0d0d0e;
}
.project img {
  position: absolute;
  opacity: 0.9;
}
.project:hover .grid-overlay {
  transform: translateY(0%);
  opacity: 0.9;
}

.project-image {
  width: 300px;
  height: 200px;
}
.grid-overlay {
  background: whitesmoke;
  height: 100%;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
}
.grid-overlay button {
  background: #12115f;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}
.grid-overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: rgb(68, 65, 65);
  color: #d1a39e;
  /* transform: scale(1.05s); */
}

/*DESCRIPTION PART*/
.desc {
  background-color: whitesmoke;
  margin: 20px;
}
.queck-link {
  background: #f5f5f5;
  height: 374px;
  padding: 15px;
  /* border: 2px, solid, #090832; */
  border-radius: 2px;
}
.queck-link_cap {
  border-bottom: 1px solid #ddd;
  padding: 5px 0px 5px 0px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.queck-link ul {
  padding: 0px 0px 0px 30px;
  font-size: 1.3em;
  list-style: url('../image/arrow.gif');
}
.queck-link li {
  padding: 1px;
  text-decoration: none;
}

.notification {
  background: #f5f5f5;
  height: 374px;
  padding: 15px;
  border-radius: 2px;
}
.notification_cap {
  border-bottom: 1px solid #ddd;
  padding: 5px 0px 5px 0px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.notification ul {
  padding: 0px 0px 0px 30px;
  font-size: 1.3em;
  list-style: url('../image/arrow.gif');
}
.notification li {
  padding: 5px;
}
/*********************************/

* {
  box-sizing: border-box;
}

/*--------------- Footer ------------------ */
.footer {
  /*background: #681424; */

  background-size: 200% 100%;
  color: #525252;
  padding: 50px 0px 50px 0px;
  font-size: 1.2em;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.footname {
  font-size: 1.5em;
  color: #5d5d5d;
  padding: 10px 0px 3px 0px;
  font-weight: bold;
  width: 80%;
  border-bottom: 1px solid #30363d;
  margin-bottom: 15px;
}
.footer a {
  color: #525252;
}
.footer a:hover {
  color: #666666;
  margin-left: 5px;
  -webkit-transition: margin 500ms linear;
}
.ftimage {
  margin: auto;
}

/*------counter code-------*/
.counter-section {
  margin: 3% auto;
  color: #fff;
  background-image: rgba(26, 26, 26, 0.98);
}
.icon-box {
  border: 1px solid #fff;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  transform: rotate(45deg);
}
.icon-box .fa {
  font-size: 45px;
  margin: 25px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}
.icon-box .far {
  font-size: 45px;
  margin: 25px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}
.counter-box p {
  font-size: 20px;
}
.counter-box .counter {
  font-size: 40px;
}
.counter-bg {
  /* background: url('../image/ftback.jpg') no-repeat; */
  width: 100%;
  height: 300px;
}
.colorFooter {
  background: url('../image/ftback.jpg') no-repeat;
  width: 100%;
  height: 100%;
}

/* Card */
.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 50px); /* 1/3 minus the margins (20+20)*/
  /* padding: 5px; */
  padding-top: 20px;
  text-align: center;
  color: white;
  float: left;
  @media (max-width: 768px) {
    margin: 10px 20px;
    width: calc(100% - 40px);
    &:first-child {
      margin-top: 20px;
    }
  }
}
.card-parent {
  margin-bottom: 30%;
}
.card-parent :hover {
  transform: scale(1.1);
}
.card :hover {
  transform: scale(1);
}
/* &:nth-child(2) {
    margin: 20px 0px;
    width: 33.3333%;
    padding: 50px 20px;
    @media (max-width: 768px) {
      margin: 10px 20px;
      width: calc(100% - 40px);
    } */
.title {
  font-size: 25px;
}
/* .icon {
  margin: 50px 0;
  /* svg {
      width: 100px;
      height: 100px;
      path {
        fill: #F6B352;
      }
    } 
} */
.features > p {
  color: #090832;
  margin-top: 10px;
}
/* .features > ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}
.features > li {
  margin: 10px 0;
  font-size: 14px;
}

.features > li > span {
  border-bottom: 2px dotted #f6b352;
} */
.btn {
  display: block;
  background: #f6b352;
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
btn :hover {
  background: #f68657;
}

/* Font family */

@font-face {
  font-family: myFont;
  src: url('𝐜𝐨𝐨𝐥𝐟𝐨𝐧𝐭.𝐨𝐫𝐠');
}
.borderInner {
  border-bottom: rgb(216, 214, 214) 1px solid;
}