body {
  margin: 0px;
  padding: 0px;
  background-color: #cfcfcf;
}


.logo {
  height: 110px;
  width: 90px;
}
.img-item {
  height: 600px;
  width: 100%;
}

.head{
  margin: 20px;
  padding-left: 20px;
}
.head-text{
  padding-left: 50px;
  
}




button {
  cursor: pointer;
}
@keyframes slider {     
  0% { left: 0; opacity: 0; }     
  2% { opacity: 1; }     
  20% { left: 0; opacity: 1; }     
  21% { opacity: 0; }     
  24% { opacity: 0; }     
  25% { left: -768px; opacity: 1; }     
  45% { left: -768px; opacity: 1; }     
  46% { opacity: 0; }     
  48% { opacity: 0; }     
  50% { left: -1536px; opacity: 1; }     70% { left: -1536px; opacity: 1; }     72% { opacity: 0; }     
  74% { opacity: 0; }    
  75% { left: -2304px; opacity: 1; }   	
  95% { left: -2304px; opacity: 1; }   	
  97%  { left: -2304px; opacity: 0; }   	
  100% { left: 0; opacity: 0; }
} 




#portfolio {
  width: 100%;
  min-height: 100vh;
  background: white;
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}
.project {
  height: 200px;
  width: 300px;
  background: white;
  overflow: hidden;
  margin-left: 25px;
}
.project img {
  position: absolute;
  opacity: 0.9;
}
.project:hover .grid-overlay {
  transform: translateY(0%);
}
.project-image {
  width: 300px;
  height: 200px;
}
.grid-overlay {
  background: #090832;
  height: 100%;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
}
.grid-overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}
.grid-overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: white;
  color: #d1a39e;
  /* transform: scale(1.05s); */
}

/*DESCRIPTION PART*/
.col-6 {
  width: 56%;
  height: 350px;
  background-color: white;
  margin-left: 250px;
  color: black;
  margin-top: 410px;
  text-align: center;
  padding: 50px 10px 10px 10px;
}
.col-4 {
  width: 20%;
  height: 350px;
  background-color: whitesmoke;
  margin-left: 80px;
  margin-top: -23%;
  color: black;
  text-align: center;
  position: absolute;
  padding: 50px 10px 10px 10px;
}
.col-5 {
  width: 20%;
  height: 350px;
  background-color: whitesmoke;
  margin-left: 1140px;
  margin-top: -23%;
  position: absolute;
  color: black;
  text-align: center;
  padding: 50px 10px 10px 10px;
}
/*********************************/
* {
        box-sizing: border-box
      }
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
height=100%;
width=100%;
}
 .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.carousel {
  overflow: hidden;
  position: absolute;
  margin-top: -450px;
  background-position: center;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.carousel-item {
  visibility: hidden;
  width: 550px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
.carousel .carousel-item > a > img {
  width: 100%;
}
.carousel-item p {
  font-size: 20px;
  background-color: #ffffff;
}
/*--------------- Footer ------------------ */
.footer {
  /*background: #681424; */

  background-size: 200% 100%;
  color: #525252;
  padding: 50px 0px 50px 0px;
  font-size: 1.2em;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.footname {
  font-size: 1.5em;
  color: #5d5d5d;
  padding: 10px 0px 3px 0px;
  font-weight: bold;
  width: 80%;
  border-bottom: 1px solid #30363d;
  margin-bottom: 15px;
}
.footer a {
  color: #525252;
}
.footer a:hover {
  color: #666666;
  margin-left: 5px;
  -webkit-transition: margin 500ms linear;
}
.ftimage {
  margin: auto;
}

/*------counter code-------*/

.counter-section {
  margin: 5% auto;
  color: #fff;
  background-image: rgba(26, 26, 26, 0.98);
}
.icon-box {
  border: 1px solid #fff;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  transform: rotate(45deg);
}
.icon-box .fa {
  font-size: 45px;
  margin: 25px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}
.icon-box .far {
  font-size: 45px;
  margin: 25px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}
.counter-box p {
  font-size: 20px;
}
.counter-box .counter {
  font-size: 40px;
}
.counter-bg {
  /* background: url('../image/ftback.jpg') no-repeat; */
  width: 100%;
  height: 300px;
}
.colorFooter {
  background: url('../image/ftback.jpg') no-repeat;
  width: 100%;
  height: 100%;
}
