.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px);
  min-height: 573px;
  grid-gap: 23px 23px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 226px;
  height: 226px;
  margin: 49px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 55px 9px 0 21px;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  width: 208px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 38px auto 0 94px;
}

.u-section-1 .u-social-icons-1 {
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 42px auto 0 76px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 226px;
  height: 226px;
  margin: 49px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 55px 9px 0 21px;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  width: 208px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 38px auto 0 94px;
}

.u-section-1 .u-social-icons-2 {
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 42px auto 0 76px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  width: 226px;
  height: 226px;
  margin: 49px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 55px 9px 0 21px;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  width: 208px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 38px auto 0 94px;
}

.u-section-1 .u-social-icons-3 {
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 42px auto 0 76px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  width: 226px;
  height: 226px;
  margin: 49px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 55px 9px 0 21px;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  width: 208px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 38px auto 0 94px;
}

.u-section-1 .u-social-icons-4 {
  height: 23px;
  min-height: 16px;
  width: 89px;
  min-width: 68px;
  margin: 42px auto 0 76px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 472px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 63px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    margin-left: 63px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    margin-left: 63px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.25rem;
    margin-left: 63px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11.5px) calc(50% - 11.5px);
    min-height: 1211px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}